@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: #0D1B2A;
    font-family: 'Roboto', sans-serif;
    
}

body {
  background-image: url("https://i.pinimg.com/1200x/a1/74/fe/a174fe76abdb8d8a5c05ffc6f02a8c6d.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; /* или scroll */
}

header {
    height: 5em;
    background-color: #FF7A6B;
    color: #0D1B2A;
    display: flex; /* Просто чтобы логотип и меню выстроились в ряд */
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
}

.logo img {
    height: 5.1em;
}

main {
    width: 100vw;
    min-height: calc(100vh - 4em);
    display: flex; /* Чтобы разделить на две большие колонки - с картинкой и с текстом */
    align-items: center;
}

.flex-right {
    width: 40%;
}

.flex-right img {
    width: 100%;
}

.flex-left {
    width: 60%;
    margin-left: 4em;
}

.flex-left-inner {
    width: 60%;
}

.flex-left-inner h1 {
    font-size: 48px;
}

.selected {
    text-decoration: underline;
}

.btn-main {
    background: #FF7A6B;
    color: #0D1B2A;
    font-weight: bold;
    width: fit-content;
    height: 4em;
    padding: 0 2em;
    display: flex; /* Чтобы правильно указать border-radius, нужно заранее знать точную высоту кнопки. Поэтому высота указана точно в 4em, а display-flex используется чтобы без вертикальных отступов выровнять текст по центру кнопки по вертикали */
    align-items: center;
    border-radius: 2em;
    user-select: none;
    cursor: pointer;
}

.btn-main:hover {
    box-shadow: 2px 2px 5px 2px #FF7A6B;
}

.btn-main:active {
    transition-property: box-shadow, transform;
    box-shadow: tomato;
    transform: none;
}

